In [1]:
##importig

In [6]:
import pandas as pd
import os

In [5]:
####  merging the 12 months sales

In [11]:
files=[file for file in os.listdir("./Sales_Data")]

all_months_data=pd.DataFrame()

for file in files:
    df=pd.read_csv("./Sales_Data/"+file)
    all_months_data=pd.concat([all_months_data, df ])

all_months_data.to_csv("all_data.csv", index=False)

In [12]:
all_data=pd.read_csv("all_data.csv")
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [13]:
#### q1: what was the best month for sale

In [14]:
### add month column

In [18]:
all_data['Month']=all_data['Order Date'].str[0:2]
all_data['Month']=all_data.['Month'].astype('int32')
all_data.head()

SyntaxError: invalid syntax (2758148441.py, line 2)